MYSQL_ROOT_PASSWORD=senha_robusta
MYSQL_USER=usuario_db
MYSQL_PASSWORD=outra_senha_robusta
MYSQL_DATABASE=redacao
PORT_BACKEND=6677
PORT_FRONTEND=3000
PORT_DB=3306
PORT_PHPMYADMIN=8282
BCRYPT_ROUNDS=10
