PORT=6677
DATABASE_URL=mysql://root:senha_robusta@db:3306/redacao
DEFAULT_LANGUAGE=pt-BR
SESSION_SECRET=asr45sal4knaha8enfdjkghrdkh
FRONTEND_URL=http://localhost:3000
N8N_WEBHOOK_URL=https://n8n.string1232943svg.hstgr.cloud/webhook-test/d6ac244a-ce6a-473f-aafd-9ce1a7e5e539
